body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Common Style */
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease;
}

/* Light Theme */
.light {
  background: linear-gradient(to right, #74ebd5, #9face6);
  color: #000;
}

/* Dark Theme */
.dark {
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  background-color: white;
  color: black;
  transition: 0.3s;
}

.dark button {
  background-color: #444;
  color: white;
}

button:hover {
  transform: scale(1.05);
}