body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(to right, #84fab0, #8fd3f4);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
}

h1 {
  text-align: center;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background: #f1f1f1;
  padding: 8px;
  border-radius: 5px;
}